/*TakeHomeExam2, HOME PAGE*/
*{
	margin: 0;
	padding: 0;
}

header{ /*flexbox setup for the header -Riley*/
	background-color: #23488D;
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	z-index: 2;
}

header a, header p{ /*Affects the text for the links in the header, added to reduce clutter in the style elements.
	I was originally doing this with a class but I remembered reading that the syntax "EXParent EXElement{}" 
	lets you effect every "EXElement" contained by EXParent. I used this to clean up the HTML -Riley*/
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
}